.minor-die {
    background-color: #f88;
    border: 1px solid #f88;
}

.minor-die .dot {
    border: 1px solid #faa;
    box-shadow: inset 0px 0px 6px #f99;
}

.column {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.column.center-column {
    justify-content: center;
}

.dot {
    width: 16px;
    height: 16px;
    background-color: #000;
    border-radius: 100%;
    border: 1px solid #ddd;
    box-shadow: inset 0px 0px 6px #aaa;
}

.dot.hidden {
    background-color: transparent;
    box-shadow: none;
    border: none;
}